@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pinyon+Script&family=Playwrite+TZ+Guides&display=swap');
/* font-family: "Pinyon Script", cursive; */
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    /* background-color: #000000; */
}

body{
    background-color: #000000;
    
}
 
main {
    overflow: hidden;
}

h1 {
    color: #ffffff;
    font-size: 72px;
    font-weight: 800;
    line-height: 68px;
}

h2 {
    color: #ffffff;
    font-size: 38px;
    font-weight: 900;
}

.shape {
    font-size: 75px;
    font-family: "Pinyon Script", cursive;
    font-weight: 300;
}

.mb-40{
    margin-bottom: 40px;
}
.mb-14{
    margin-bottom: 14px;
}
.c-w {
    color: white;
}

.text-gray {
    font-size: 14px;
    color:rgba(255, 255, 255, 0.50);
    line-height: 24px;
}

.btn-primary {
    color: white;
    padding: 12px 30px;
    background-color:#E6533C ;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;

}
.btn-outline {
    color: white;
    padding: 12px 30px;
    border: 1px solid white;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.two-button{
    /* display: flex; */
    /* justify-content: space-between; */
}

.navbar{
    color: white;
    padding-top: 58px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 2px;
}

.menu> li{
    list-style: none;
    padding: 10px 20px;
    
}

.active {
    background-color: #E6533C;
    border-radius: 46px;
}

header {
    height: 100%;
    background: #2C2C2C;
    /* background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%); */
}

.container {
    max-width: 1440px;
    padding: 0 190px;
    margin: auto;
    box-sizing: border-box;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.bg-black {
    background-color: black;
}

.hamburger {
    display: none;
}

.banner {
    height: 450px;
    display: flex;
    /* border: 3px solid red; */
    justify-content: space-between;
}

.left-banner {
    height: 450px;
    width: 50%;
    /* display: flex; */
    /* border: 3px solid red; */

}
.right-banner {
    height: 450px;
    width: 40%;
    /* display: flex; */
    /* border: 3px solid red; */
    position: relative;

}

.right-banner>img {
    idth: auto;
    height: 100%;
}

.rec-1 {
    width: 175px;
    height: 80px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 200px;
    top: 100px;
    position: absolute;
}

.span-1 {
    font-weight: 900;
    font-size: 30px;

}

.rec-2 {
    width: 175px;
    height: 80px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    bottom: 57px;
    left: -100px;
    position: absolute;
}

.feature-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inner-item {
    width: 338px;
    text-align: center;
}
.inner-item>img {
    border-radius: 50%;
}

.promo {
    /* height: 312px; */
    background-color: #222;
    border-radius: 20px;
    display: flex;
    gap: 160px;
    padding: 60px;
    align-items: center;
}

.promo-section-text {
    width: 443px;
}

.promo-section-img {
    width: 50%;
}

.promo-section-img>img{
    width: 366px;
    height: auto;
    border-radius: 20px;
}

.gallery-items {
    background-color: #222;
    padding: 20px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    gap: 20px;
}

.image-wrapper img {
    width: 100%;
    height: 272px;
    object-fit: cover;
    border-radius: 18px;
}

.team-member {
    position: relative;
}

.info-overlay {
    left: 15px;
    bottom: 30px;
    position: absolute;
    color: white;
}

footer {
    background-color: #191919;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-header, .bmi-h3 {
    color: white;
    font-size: 24px;
}

li{
    list-style: none;
    padding: 6px 00px;
    
}

.footer-1 {
    width: 40%;
}
.footer-2 {
    width: 20%;
}
.footer-3 {
    width: 20%;
}

.line>hr {
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.copyright {
    height: 50px;
    margin-top: 20px;
    text-align: center;
}

.faq-section {
    max-width: 800px;
    margin: 0 auto;
}

.faq-section h2 {
    text-align: center;
}

.faq-item h3 {
    color: white;
}

.faq-item {
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #222;
    padding: 20px;
}

.section-wrap {
    display: flex;
    margin: auto;
}

.bmi-chart, .bmi-calculator {
    width: 50%;
}

.bmi-section {
    background-color: #222222;
    margin: 0 -100px;
    padding: 125px;
}

table, th, td {
    padding: 10px 25px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-collapse: collapse;
  }

th {
    color: white;
}

td {
    color:rgba(255, 255, 255, 0.50);
}

.input-style {
    box-sizing: border-box;
    appearance: none;
    /* max-width: 200px; */
    width: 40%;
    margin: 5px;
    border-radius: 5px;
    border: none;
    color: rgba(255, 255, 255, 0.60);
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.10);
}
.input-style-100 {
    box-sizing: border-box;
    
    width: 83%;
    margin: 5px;
    border-radius: 5px;
    border: none;
    color: rgba(255, 255, 255, 0.60);
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.10);
}



@media (min-width: 992px) {
    .container {
        padding-left:25px;
        padding-right:25px;
    }
}

/* mobile version code here */
@media (max-width:576px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    .navbar{
        justify-content: space-between;
        align-items: center;
    }

    .container {
        padding: 0 20px;
    }

    header {
        overflow: hidden;
        height: 1100px;
    }


    .btn-primarym, .btn-outline {
        padding: 12px 20px;
    }

    h1 {
        font-size: 56px;
    }
    
    .shape {
        font-size: 60px;
    }

    .banner {
        flex-direction: column;
        height: auto;
    }

    .left-banner, .right-banner {
        height: auto;
        width: 100%;
    
    }
    .right-banner {
        margin-top: 25px;
    }

    .rec-2 {
        bottom: 40%;
        left: 00px;
    }

    .rec-1 {
        top: 62px;
        left: 190px;
    }


    .feature-items {
        flex-direction: column;
        gap: 40px;
    }

    .promo {
        height: 100%;
        flex-direction: column; 
        gap: 30px;
        padding: 20px;
    }
    
    .promo-section-text {
        width: 100%;
        height: auto;
    }
    
    .promo-section-img {
        width: 100%;
        height: auto;
    }
    
    .promo-section-img>img{
        max-width: 300px;
        height: auto;
    }

    
    .gallery-items {
        grid-template-columns: 1fr;
    }

    .footer {
        flex-direction: column;
        gap: 30px;
    }

    .footer-1 {
        width: 100%;
    }
    .footer-2 {
        width: 100%;
    }
    .footer-3 {
        width: 100%;
    }

    .bmi-section {
    padding-top: 25px;
    padding-right: 125px;
    padding-left: 125px;
    padding-bottom: 25px;

    }

    .section-wrap {
        flex-direction: column;
    }

    .bmi-chart, .bmi-calculator {
        width: 100%;
        margin-bottom: 20px;
    }

    table, th, td {
        padding: 8px 12px;
    }

    .input-style {
        width: 49%;
        margin: 3px 0;
    }

    .input-style-100 {
        margin-left: 1px;
        width: 99%;
    }

}